In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
directory= 'C:/Users/user1/Desktop/공부자료/제2회 ETRI 휴먼이해 인공지능 논문경진대회/data/KEMDy20_v1_1/'
os.chdir(directory)

In [27]:
eda = os.path.join(directory, 'EDA/')
files_eda = os.listdir(eda)
filescnt_eda = [e for e in files_eda]
df_eda = pd.DataFrame()

for e in filescnt_eda :
    ann = os.path.join(directory, 'EDA/', e)
    files = os.listdir(ann)
    filescnt_wav = [i for i in files if i.endswith('.csv')]
    df_all = pd.DataFrame()
    
    for i in range(0, len(filescnt_wav)) :
        file = filescnt_wav[i]
        df = pd.read_csv(os.path.join(ann, file), names=['EDA', 'time', 'id']) 
        df_all = pd.concat([df_all, df])

        sess_df = df_all.drop([0],axis = 0)
        sess_df.dropna(axis=0, inplace=True)
        
        
    df_eda = pd.concat([df_eda, sess_df])
#df_eda.sort_values(by=['time'], ascending=True, inplace=True) # time 오름차순으로 정렬
#df_eda.drop(['time'], axis='columns', inplace=True)

In [4]:
ibi = os.path.join(directory, 'IBI/')
files_ibi = os.listdir(ibi)
filescnt_ibi = [e for e in files_ibi]
df_ibi = pd.DataFrame()

for e in filescnt_ibi :
    ann = os.path.join(directory, 'IBI/', e)
    files = os.listdir(ann)
    filescnt_wav = [i for i in files if i.endswith('.csv')]
    df_all = pd.DataFrame()
    
    for i in range(0, len(filescnt_wav)) :
        file = filescnt_wav[i]
        df = pd.read_csv(os.path.join(ann, file), names=['order','IBI', 'time', 'id']) 
        df_all = pd.concat([df_all, df])

        sess_df = df_all.drop([0],axis = 0)
        sess_df.dropna(axis=0, inplace=True)
        
        
    df_ibi = pd.concat([df_ibi, sess_df])
#df_ibi.sort_values(by=['time'], ascending=True, inplace=True) # time 오름차순으로 정렬
#df_ibi.drop(['order','time'], axis='columns', inplace=True)

In [5]:
temp = os.path.join(directory, 'TEMP/')
files_temp = os.listdir(temp)
filescnt_temp = [e for e in files_temp]
df_temp = pd.DataFrame()

for e in filescnt_temp :
    ann = os.path.join(directory, 'TEMP/', e)
    files = os.listdir(ann)
    filescnt_wav = [i for i in files if i.endswith('.csv')]
    df_all = pd.DataFrame()
    
    for i in range(0, len(filescnt_wav)) :
        file = filescnt_wav[i]
        df = pd.read_csv(os.path.join(ann, file), names=['TEMP', 'time', 'id']) 
        df_all = pd.concat([df_all, df])

        sess_df = df_all.drop([0],axis = 0)
        sess_df.dropna(axis=0, inplace=True)
        
        
    df_temp = pd.concat([df_temp, sess_df])
#df_temp.sort_values(by=['time'], ascending=True, inplace=True) # time 오름차순으로 정렬
#df_temp.drop(['time'], axis='columns', inplace=True)

In [6]:
df_eda.reset_index(drop=True, inplace=True)
df_eda

             EDA                   time                            id
0       4.412055  2020-0821-1128-57-250  Sess01_script01_User001F_001
1       4.536246  2020-0821-1128-57-500  Sess01_script01_User001F_001
2       4.630991  2020-0821-1128-57-750  Sess01_script01_User001F_001
3       4.669401  2020-0821-1128-58-000  Sess01_script01_User001F_001
4       4.661719  2020-0821-1128-58-250  Sess01_script01_User001F_001
...          ...                    ...                           ...
316811  2.889028  2020-1018-1713-57-000  Sess40_script06_User080F_025
316812  2.873669  2020-1018-1713-57-250  Sess40_script06_User080F_025
316813  2.855750  2020-1018-1713-57-500  Sess40_script06_User080F_025
316814  2.835270  2020-1018-1713-57-750  Sess40_script06_User080F_025
316815  2.818631  2020-1018-1713-58-000  Sess40_script06_User080F_025

[316816 rows x 3 columns]

In [7]:
df_ibi.reset_index(drop=True, inplace=True)
df_ibi

,order,IBI,time,id
0,85.859375,0.640625,2020-0821-1128-57-859,Sess01_script01_User001F_001
1,86.500000,0.640625,2020-0821-1128-58-500,Sess01_script01_User001F_001
2,87.078125,0.578125,2020-0821-1128-59-078,Sess01_script01_User001F_001
3,134.453125,0.609375,2020-0821-1129-46-453,Sess01_script01_User001F_003
4,139.343750,0.687500,2020-0821-1129-51-343,Sess01_script01_User001F_003
...,...,...,...,...
70753,725.265625,0.687500,2020-1018-1713-55-265,Sess40_script06_User080F_025
70754,725.984375,0.718750,2020-1018-1713-55-984,Sess40_script06_User080F_025
70755,726.703125,0.718750,2020-1018-1713-56-703,Sess40_script06_User080F_025
70756,727.390625,0.687500,2020-1018-1713-57-390,Sess40_script06_User080F_025
70757,728.109375,0.718750,2020-1018-1713-58-109,Sess40_script06_User080F_025

In [8]:
df_temp.reset_index(drop=True, inplace=True)
df_temp

         TEMP                   time                            id
0       34.55  2020-0821-1128-57-250  Sess01_script01_User001F_001
1       34.55  2020-0821-1128-57-500  Sess01_script01_User001F_001
2       34.55  2020-0821-1128-57-750  Sess01_script01_User001F_001
3       34.55  2020-0821-1128-58-000  Sess01_script01_User001F_001
4       34.55  2020-0821-1128-58-250  Sess01_script01_User001F_001
...       ...                    ...                           ...
316811  35.21  2020-1018-1713-57-000  Sess40_script06_User080F_025
316812  35.21  2020-1018-1713-57-250  Sess40_script06_User080F_025
316813  35.21  2020-1018-1713-57-500  Sess40_script06_User080F_025
316814  35.21  2020-1018-1713-57-750  Sess40_script06_User080F_025
316815  35.18  2020-1018-1713-58-000  Sess40_script06_User080F_025

[316816 rows x 3 columns]

## annotation 형식으로 EDA,IBI,TEMP 가공

##### EDA

In [9]:
# 각 ID에 대한 첫번째와 마지막 EDA 값을 구함
start_eda = df_eda.groupby('id')['EDA'].first()
end_eda = df_eda.groupby('id')['EDA'].last()

# ID별로 첫번째와 마지막 EDA 값을 하나의 데이터프레임으로 만듬
df_segment = pd.concat([start_eda, end_eda], axis=1)
df_segment.columns = ['start', 'end']

# 중간에 해당하는 ID의 max EDA, min EDA, mean EDA 값을 구하여 데이터프레임에 추가
df_group = df_eda.groupby('id')['EDA'].agg(['max', 'min', 'mean']).reset_index()
df_segment = pd.merge(df_segment, df_group, on='id')

# Segment ID 컬럼 생성
df_segment['Segment ID'] = 'Sess01_script01_' + df_segment['id']

# 결과 출력
eda_seg = df_segment[['start', 'end', 'max', 'min', 'mean', 'Segment ID']]
eda_seg

,start,end,max,min,mean,Segment ID
0,4.412055,4.510640,4.669401,4.412055,4.579778,Sess01_script01_Sess01_script01_User001F_001
1,4.842703,5.276734,5.276734,4.773565,4.945944,Sess01_script01_Sess01_script01_User001F_002
2,5.233203,5.013798,5.470875,4.831180,5.077349,Sess01_script01_Sess01_script01_User001F_003
3,5.178960,5.406859,5.446549,5.068852,5.167309,Sess01_script01_Sess01_script01_User001F_004
4,5.373570,5.520808,5.612992,5.373570,5.522088,Sess01_script01_Sess01_script01_User001F_005
...,...,...,...,...,...,...
13410,0.103788,0.102506,0.105069,0.098662,0.102112,Sess01_script01_Sess42_script06_User084F_034
13411,0.099944,0.102506,0.126852,0.094818,0.100852,Sess01_script01_Sess42_script06_User084F_035
13412,0.103788,0.099944,0.103788,0.099944,0.102222,Sess01_script01_Sess42_script06_User084F_036
13413,0.098662,0.106350,0.106350,0.098662,0.103531,Sess01_script01_Sess42_script06_User084F_037
13414,0.103788,0.103788,0.105069,0.097381,0.102972,Sess01_script01_Sess42_script06_User084F_038

##### IBI

###### order컬럼 삭제하고 IBI데이터가 문자열로 인식되기 때문에 숫자형으로 바꿈

In [10]:
#df_ibi = df_ibi.iloc[:, 1:]

# to numeric
df_ibi['IBI'] = pd.to_numeric(df_ibi['IBI'], errors='coerce')

In [11]:
# 각 ID에 대한 첫번째와 마지막 IBI 값을 구함
start_ibi = df_ibi.groupby('id')['IBI'].first()
end_ibi = df_ibi.groupby('id')['IBI'].last()

# ID별로 첫번째와 마지막 IBI 값을 하나의 데이터프레임으로 만듬
df_segment = pd.concat([start_ibi, end_ibi], axis=1)
df_segment.columns = ['start', 'end']

# 중간에 해당하는 ID의 max IBI, min IBI, mean IBI 값을 구하여 데이터프레임에 추가
df_group = df_ibi.groupby('id')['IBI'].agg(['max', 'min', 'mean']).reset_index()
df_segment = pd.merge(df_segment, df_group, on='id')

# Segment ID 컬럼 생성
df_segment['Segment ID'] = 'Sess01_script01_' + df_segment['id']

# 결과 출력
ibi_seg = df_segment[['start', 'end', 'max', 'min', 'mean', 'Segment ID']]
ibi_seg

,start,end,max,min,mean,Segment ID
0,0.640625,0.578125,0.640625,0.578125,0.619792,Sess01_script01_Sess01_script01_User001F_001
1,0.609375,0.625000,0.687500,0.609375,0.640625,Sess01_script01_Sess01_script01_User001F_003
2,0.687500,0.609375,0.687500,0.593750,0.622396,Sess01_script01_Sess01_script01_User001F_004
3,0.718750,0.718750,0.718750,0.718750,0.718750,Sess01_script01_Sess01_script01_User001F_006
4,0.781250,0.718750,0.781250,0.718750,0.750000,Sess01_script01_Sess01_script01_User001F_007
...,...,...,...,...,...,...
10199,0.765625,0.890625,0.890625,0.765625,0.838542,Sess01_script01_Sess42_script06_User084F_032
10200,0.796875,0.828125,0.828125,0.656250,0.769531,Sess01_script01_Sess42_script06_User084F_035
10201,0.703125,0.734375,0.734375,0.703125,0.723958,Sess01_script01_Sess42_script06_User084F_036
10202,0.671875,0.640625,0.671875,0.640625,0.656250,Sess01_script01_Sess42_script06_User084F_037
10203,0.812500,0.734375,0.812500,0.718750,0.750000,Sess01_script01_Sess42_script06_User084F_038

##### TEMP

In [12]:
# 각 ID에 대한 첫번째와 마지막 TEMP 값을 구함
start_temp = df_temp.groupby('id')['TEMP'].first()
end_temp = df_temp.groupby('id')['TEMP'].last()

# ID별로 첫번째와 마지막 TEMP 값을 하나의 데이터프레임으로 만듬
df_segment = pd.concat([start_temp, end_temp], axis=1)
df_segment.columns = ['start', 'end']

# 중간에 해당하는 ID의 max TEMP, min TEMP, mean TEMP 값을 구하여 데이터프레임에 추가
df_group = df_temp.groupby('id')['TEMP'].agg(['max', 'min', 'mean']).reset_index()
df_segment = pd.merge(df_segment, df_group, on='id')

# Segment ID 컬럼 생성
df_segment['Segment ID'] = 'Sess01_script01_' + df_segment['id']

# 결과 출력
temp_seg = df_segment[['start', 'end', 'max', 'min', 'mean', 'Segment ID']]
temp_seg

,start,end,max,min,mean,Segment ID
0,34.55,34.53,34.55,34.53,34.545556,Sess01_script01_Sess01_script01_User001F_001
1,34.59,34.61,34.61,34.59,34.595455,Sess01_script01_Sess01_script01_User001F_002
2,34.61,34.63,34.63,34.59,34.615570,Sess01_script01_Sess01_script01_User001F_003
3,34.63,34.63,34.63,34.63,34.630000,Sess01_script01_Sess01_script01_User001F_004
4,34.63,34.63,34.63,34.63,34.630000,Sess01_script01_Sess01_script01_User001F_005
...,...,...,...,...,...,...
13410,31.93,31.91,31.93,31.91,31.923846,Sess01_script01_Sess42_script06_User084F_034
13411,31.91,31.91,31.95,31.91,31.918101,Sess01_script01_Sess42_script06_User084F_035
13412,31.91,31.91,31.93,31.91,31.918889,Sess01_script01_Sess42_script06_User084F_036
13413,31.91,31.95,31.95,31.91,31.923333,Sess01_script01_Sess42_script06_User084F_037
13414,31.91,31.93,31.93,31.91,31.917273,Sess01_script01_Sess42_script06_User084F_038

## ..........

In [65]:
test_eda = df_eda
test_ibi = df_ibi
test_temp = df_temp

In [66]:
# value 열 추가하기
test_eda['value'] = (test_eda.groupby('id').cumcount()+1)
test_eda

           EDA                   time                            id  value
343   4.412055  2020-0821-1128-57-250  Sess01_script01_User001F_001      1
344   4.536246  2020-0821-1128-57-500  Sess01_script01_User001F_001      2
345   4.630991  2020-0821-1128-57-750  Sess01_script01_User001F_001      3
346   4.669401  2020-0821-1128-58-000  Sess01_script01_User001F_001      4
347   4.661719  2020-0821-1128-58-250  Sess01_script01_User001F_001      5
...        ...                    ...                           ...    ...
2910  2.889028  2020-1018-1713-57-000  Sess40_script06_User080F_025     47
2911  2.873669  2020-1018-1713-57-250  Sess40_script06_User080F_025     48
2912  2.855750  2020-1018-1713-57-500  Sess40_script06_User080F_025     49
2913  2.835270  2020-1018-1713-57-750  Sess40_script06_User080F_025     50
2914  2.818631  2020-1018-1713-58-000  Sess40_script06_User080F_025     51

[316816 rows x 4 columns]

In [67]:
# value 열 추가하기
test_ibi['value'] = (test_ibi.groupby('id').cumcount()+1)
test_ibi

,order,IBI,time,id,value
0,85.859375,0.640625,2020-0821-1128-57-859,Sess01_script01_User001F_001,1
1,86.500000,0.640625,2020-0821-1128-58-500,Sess01_script01_User001F_001,2
2,87.078125,0.578125,2020-0821-1128-59-078,Sess01_script01_User001F_001,3
3,134.453125,0.609375,2020-0821-1129-46-453,Sess01_script01_User001F_003,1
4,139.343750,0.687500,2020-0821-1129-51-343,Sess01_script01_User001F_003,2
...,...,...,...,...,...
70753,725.265625,0.687500,2020-1018-1713-55-265,Sess40_script06_User080F_025,7
70754,725.984375,0.718750,2020-1018-1713-55-984,Sess40_script06_User080F_025,8
70755,726.703125,0.718750,2020-1018-1713-56-703,Sess40_script06_User080F_025,9
70756,727.390625,0.687500,2020-1018-1713-57-390,Sess40_script06_User080F_025,10
70757,728.109375,0.718750,2020-1018-1713-58-109,Sess40_script06_User080F_025,11

In [68]:
# value 열 추가하기
test_temp['value'] = (test_temp.groupby('id').cumcount()+1)
test_temp

         TEMP                   time                            id  value
0       34.55  2020-0821-1128-57-250  Sess01_script01_User001F_001      1
1       34.55  2020-0821-1128-57-500  Sess01_script01_User001F_001      2
2       34.55  2020-0821-1128-57-750  Sess01_script01_User001F_001      3
3       34.55  2020-0821-1128-58-000  Sess01_script01_User001F_001      4
4       34.55  2020-0821-1128-58-250  Sess01_script01_User001F_001      5
...       ...                    ...                           ...    ...
316811  35.21  2020-1018-1713-57-000  Sess40_script06_User080F_025     47
316812  35.21  2020-1018-1713-57-250  Sess40_script06_User080F_025     48
316813  35.21  2020-1018-1713-57-500  Sess40_script06_User080F_025     49
316814  35.21  2020-1018-1713-57-750  Sess40_script06_User080F_025     50
316815  35.18  2020-1018-1713-58-000  Sess40_script06_User080F_025     51

[316816 rows x 4 columns]

In [86]:
t_eda = pd.pivot_table(test_eda, index='id', columns='value', values='EDA', aggfunc='first')
t_ibi = pd.pivot_table(test_ibi, index='id', columns='value', values='IBI', aggfunc='first')
t_temp = pd.pivot_table(test_temp, index='id', columns='value', values='TEMP', aggfunc='first')

In [87]:
t_eda.columns = ['eda'+str(i) for i in range(1,len(t_eda.columns)+1)]
t_ibi.columns = ['ibi'+str(i) for i in range(1,len(t_ibi.columns)+1)]
t_temp.columns = ['temp'+str(i) for i in range(1,len(t_temp.columns)+1)]

In [88]:
t_eda

,eda1,eda2,eda3,eda4,eda5,eda6,eda7,eda8,eda9,eda10,...,eda132,eda133,eda134,eda135,eda136,eda137,eda138,eda139,eda140,eda141
id,,,,,,,,,,,,,,,,,,,,,
Sess01_script01_User001F_001,4.412055,4.536246,4.630991,4.669401,4.661719,4.654037,4.598982,4.543929,4.510640,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_002,4.842703,4.883674,4.872150,4.808134,4.794051,4.773565,4.804293,4.946410,5.144861,5.258810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_003,5.233203,5.178149,5.084685,4.979698,4.932326,4.888795,4.867029,4.846544,4.849105,4.831180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_004,5.178960,5.131588,5.105982,5.085496,5.075254,5.071413,5.068852,5.084216,5.080375,5.085496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_005,5.373570,5.411980,5.479838,5.578423,5.609151,5.612992,5.587385,5.524649,5.520808,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sess42_script06_User084F_034,0.103788,0.105069,0.101225,0.098662,0.101225,0.103788,0.102506,0.103788,0.099944,0.099944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_035,0.099944,0.097381,0.101225,0.098662,0.103788,0.099944,0.099944,0.099944,0.102506,0.126852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_036,0.103788,0.103788,0.099944,0.101225,0.101225,0.103788,0.102506,0.103788,0.099944,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_037,0.098662,0.105069,0.105069,0.106350,0.101225,0.101225,0.105069,0.105069,0.105069,0.102506,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_038,0.103788,0.105069,0.103788,0.101225,0.097381,0.103788,0.105069,0.103788,0.101225,0.103788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
t_ibi

,ibi1,ibi2,ibi3,ibi4,ibi5,ibi6,ibi7,ibi8,ibi9,ibi10,...,ibi59,ibi60,ibi61,ibi62,ibi63,ibi64,ibi65,ibi66,ibi67,ibi68
id,,,,,,,,,,,,,,,,,,,,,
Sess01_script01_User001F_001,0.640625,0.640625,0.578125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_003,0.609375,0.687500,0.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_004,0.687500,0.625000,0.609375,0.593750,0.609375,0.609375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_006,0.718750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_007,0.781250,0.718750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sess42_script06_User084F_032,0.765625,0.859375,0.890625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_035,0.796875,0.765625,0.781250,0.656250,0.734375,0.812500,0.78125,0.828125,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_036,0.703125,0.734375,0.734375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_037,0.671875,0.640625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_038,0.812500,0.718750,0.734375,0.734375,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
t_temp

,temp1,temp2,temp3,temp4,temp5,temp6,temp7,temp8,temp9,temp10,...,temp132,temp133,temp134,temp135,temp136,temp137,temp138,temp139,temp140,temp141
id,,,,,,,,,,,,,,,,,,,,,
Sess01_script01_User001F_001,34.55,34.55,34.55,34.55,34.55,34.55,34.55,34.53,34.53,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_002,34.59,34.59,34.59,34.59,34.59,34.59,34.59,34.59,34.61,34.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_003,34.61,34.61,34.61,34.61,34.61,34.61,34.61,34.61,34.61,34.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_004,34.63,34.63,34.63,34.63,34.63,34.63,34.63,34.63,34.63,34.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess01_script01_User001F_005,34.63,34.63,34.63,34.63,34.63,34.63,34.63,34.63,34.63,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sess42_script06_User084F_034,31.93,31.93,31.93,31.93,31.93,31.93,31.93,31.93,31.93,31.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_035,31.91,31.91,31.91,31.91,31.91,31.91,31.91,31.91,31.91,31.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_036,31.91,31.91,31.91,31.93,31.93,31.93,31.93,31.91,31.91,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_037,31.91,31.91,31.91,31.91,31.91,31.91,31.91,31.91,31.93,31.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sess42_script06_User084F_038,31.91,31.91,31.91,31.91,31.91,31.91,31.91,31.93,31.93,31.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
t_eda.to_csv("t_eda.csv", index=True)
t_ibi.to_csv("t_ibi.csv", index=True)
t_temp.to_csv("t_temp.csv", index=True)