In [ ]:
#!pip install pycaret

In [1]:
import os
import pandas as pd
from pycaret.classification import *

In [2]:
directory= 'C:\\Users\\USER\\PycharmProjects\\ERC\\'
os.chdir(directory)

In [3]:
data_n = 'temp' #temp, ibi, eda
method = 'tsne' #pca, tsne, lle, umap

In [4]:
data = pd.read_csv('data/{}_{}.csv'.format(data_n, method))

In [5]:
clf = setup(data, target='Emotion')
best_model = compare_models(sort='F1', n_select=3)

Processing:   0%|          | 0/71 [00:00<?, ?it/s]

In [14]:
new_data = data.drop('Emotion', axis=1)
prediction = predict_model(best_model[0], data=new_data)
prediction

     Sex          0          1  prediction_label  prediction_score
0      0  -9.183681 -12.407987                 1            0.6325
1      1  -7.848112 -10.861624                 0            0.5067
2      1   5.016291   4.994897                 2            0.3142
3      1   9.581699   7.548366                 0            0.6391
4      1   1.952928  -2.064449                 0            0.5598
..   ...        ...        ...               ...               ...
291    0  15.606421  11.039059                 1            0.5186
292    1  16.140240  10.545608                 1            0.6995
293    0  -3.395632  -3.548883                 2            0.2783
294    1  -0.484301  -3.478823                 1            0.4673
295    0   8.507181   7.147621                 3            0.3992

[296 rows x 5 columns]