In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
directory= 'C:\\Users\\USER\\PycharmProjects\\ERC\\'
os.chdir(directory)

In [14]:
eda = os.path.join(directory, 'data/20/EDA/')
files_eda = os.listdir(eda)
filescnt_eda = [e for e in files_eda]
df_eda = pd.DataFrame()

for e in filescnt_eda :
    ann = os.path.join(directory, 'data/20/EDA/', e)
    files = os.listdir(ann)
    filescnt_wav = [i for i in files if i.endswith('.csv')]
    df_all = pd.DataFrame()
    
    for i in range(0, len(filescnt_wav)) :
        file = filescnt_wav[i]
        df = pd.read_csv(os.path.join(ann, file), names=['value', 'time', 'id']) # time 오름차순으로 정렬하기
        df_all = pd.concat([df_all, df])

        sess_df = df_all.drop([0],axis = 0)
        sess_df.dropna(axis=0, inplace=True)
        
        
    df_eda = pd.concat([df_eda, sess_df])
    df_eda.drop(['time'], axis='columns', inplace=True)

In [29]:
df_eda

         value                            id
343   4.412055  Sess01_script01_User001F_001
344   4.536246  Sess01_script01_User001F_001
345   4.630991  Sess01_script01_User001F_001
346   4.669401  Sess01_script01_User001F_001
347   4.661719  Sess01_script01_User001F_001
...        ...                           ...
2910  2.889028  Sess40_script06_User080F_025
2911  2.873669  Sess40_script06_User080F_025
2912  2.855750  Sess40_script06_User080F_025
2913  2.835270  Sess40_script06_User080F_025
2914  2.818631  Sess40_script06_User080F_025

[316816 rows x 2 columns]